h1, h2 {
    color : #cccccc;
    margin-top: 50px;
    margin-left: 35px;
}

body {
    background-color: black;
    background-repeat: no-repeat;
}

.list, form {
    width: fit-content;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    border: hidden;
    border-radius: 10px;
    padding: 20px;
    background-image: linear-gradient(to bottom right, rgba(255,0,0,0), rgb(68, 0, 255),  rgba(255,0,0,0));
    color:#cccccc;
    opacity: 75%;
}

.tab {
    background-color: #cccccc;
    color:#cccccc;
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px;
    border-bottom: solid;
    border-right: solid;
    border-left: solid;
    border-radius: 0px 0px 10px 10px;
    position: relative;
    top: -25px;
    opacity: 75%;
}

.tab:hover {
    position: relative;
    top: 0px;
    opacity: 75%;
}

table {
    margin: auto;
    width: fit-content;
}

button {
    margin-top: 10px;
    color:#cccccc;
    background-color: rgb(68, 0, 255);
    border: 1px solid;
    border-radius: 2px;
}

.dbutton {
    margin-top: 10px;
    color:#cccccc;
    background-color: red;
    border: 1px solid;
    border-radius: 2px;
}

.cbutton {
    margin-top: 10px;
    color:#cccccc;
    background-color: green;
    border: 1px solid;
    border-radius: 2px;
}

button:hover {
    background-color: black;
    color: rgb(68, 0, 255);
    opacity: 75%;
    border: 1px solid;
    border-radius: 2px;
}

.dbutton:hover {
    background-color: black;
    color: red;
    opacity: 75%;
    border: 1px solid;
    border-radius: 2px;
}

.cbutton:hover {
    background-color: black;
    color: green;
    opacity: 75%;
    border: 1px solid;
    border-radius: 2px;
}

td {
    width: 150px;
}

* {
    font-family: 'Courier New', Courier, monospace;
}